---
import PrimaryButton from "../UI/PrimaryButton.astro";

import json from "../../data/home.json"
import WhatsAppMessageEncoder from "../../utils/WhatsAppMessageEncoder";
const {title, subtitle, image, features, button} = json["gamer-plan"]
---

<section class="relative h-[30rem] flex flex-col justify-center items-start gap-4">
    <div class="text-start mx-auto max-w-6xl w-full flex flex-col items-start justify-center gap-5 relative px-10">
        <h2 class="text-6xl lg:text-8xl" set:html={title}></h2>
        <p class="lg:w-[70%]" set:html={subtitle}></p>
        <PrimaryButton target='_blank' href={WhatsAppMessageEncoder(button.message)} text={button.text} />
        <span class="hidden xl:block absolute top-10 left-[25rem] border-l border-white pl-5">
            <ul class="space-y-4">
                {
                features.map((feature) => (
                    <li class="text-secondary-600 font-semibold text-xl lg:text-2xl">{feature}</li>
                ))
                }
            </ul>
        </span>
    </div>
    <img class="absolute h-full w-full object-cover top-0 left-0 -z-10" src={image} alt="Imagen plan gamer">
</section>

<style>
    section {
        background: linear-gradient(89.62deg, #252729 5.34%, rgba(37, 39, 41, 0.505) 45.5%, rgba(37, 39, 41, 0) 86.47%);
    }
    h2{
        color: #FF8300;
    }
    @media width > 1024px {
        h2{
            line-height: 85px;
            letter-spacing: -4.5px;
        }
    }
</style>